@import "../core/reset.scss";
.about {
  &__div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    &__h2 {
    }
    &__p {
      text-align: center;

      line-height: 37px;
    }
  }
  .skills {
    display: flex;
    flex-direction: column;
    margin: 60px 0px; // justify-content: center;
    // align-items: center;
    // justify-content: space-evenly;
    // margin-top: 40px;
    &__title {
      text-align: center;
      font-size: 30px;
    }
  }
  .skills__iconsdiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 869px;
    margin: 0 auto;
  }
  .skills__icons {
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 100px;
    border: 1.7px solid rgba(200, 137, 230, 0.637);
    border-radius: 5px;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
    font-size: 70px;
    padding: 10px;
  }

  .about__div__img {
    max-width: 800px;
    &-img {
      width: 100%;
    }
  }
  .about__div__p {
    margin: 100px auto 0px auto;
    padding: 0 20px;
    font-size: 20px;
  }
  @media (max-width: 768px) {
    .about {
      &__div {
      }
      &__p {
      }
      &__img {
      }
    }
    .skills {
    }
    .skills__icon {
    }
  }
  @media (max-width: 320px) {
    .about {
      &__div {
        display: grid;
        grid-template-columns: 1fr;
        &__p {
          margin-top: 25px;
        }
        &__img {
          margin-top: 70px;
        }
      }
    }
  }
}
