@import "../core/reset.scss";
.final__text {
  display: flex;
  justify-content: center;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
}
