@import "../core/reset.scss";
@import "../core/variables.scss";
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  &__image {
    &__me {
      width: 52vmin;
      height: 52vmin;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &__button {
    cursor: pointer;
    padding: 10px 45px;
    font-size: 20px;
    color: black;
    border: 1px solid black;
    border-radius: 10px;

    &:hover {
      background: #f9e79f;
    }
    &__contact-button {
    }
  }
  &__text {
    font-size: 20px;
    text-align: center;
  }
  &__contact {
    color: #6d2c7d;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    &__button {
      font-family: "poppins", sans-serif;
      cursor: pointer;
      padding: 12px 50px;
      font-size: 20px;
      color: black;
      border: 1px solid black;
      border-radius: 10px;
      background-color: transparent;
      animation: wiggle 4s 2s;

      &:hover {
        background: #f9e79f;
        color: #d7bde2;
        @keyframes wiggle {
          5%,
          50% {
            transform: scale(1);
          }
          10% {
            transform: scale(0.9);
          }
          15% {
            transform: scale(1.15);
          }
          20% {
            transform: scale(1.15) rotate(-5deg);
          }
          25% {
            transform: scale(1.15) rotate(5deg);
          }
          30% {
            transform: scale(1.15) rotate(-3deg);
          }
          35% {
            transform: scale(1.15) rotate(2deg);
          }
          40% {
            transform: scale(1.15) rotate(0);
          }
        }
      }
    }
    &__cv {
      font-family: "poppins", sans-serif;
      cursor: pointer;
      padding: 12px 46px;
      font-size: 20px;
      color: black;
      border: 1px solid black;
      border-radius: 10px;
      background-color: transparent;
      animation: wiggle 4s 2s;

      &:hover {
        @keyframes wiggle {
          5%,
          50% {
            transform: scale(1);
          }
          10% {
            transform: scale(0.9);
          }
          15% {
            transform: scale(1.15);
          }
          20% {
            transform: scale(1.15) rotate(-5deg);
          }
          25% {
            transform: scale(1.15) rotate(5deg);
          }
          30% {
            transform: scale(1.15) rotate(-3deg);
          }
          35% {
            transform: scale(1.15) rotate(2deg);
          }
          40% {
            transform: scale(1.15) rotate(0);
          }
        }
        background: #f9e79f;
        color: #d7bde2;
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    &__image {
      margin-top: 60px;
    }
    &__image {
      &__me {
        width: 70vmin;
        height: 70vmin;
        object-fit: cover;
      }
    }
  }
}
