@import "../core/reset.scss";
.proyect__container {
  background-color: rgba(193, 127, 255, 0.603);
  padding-top: 8px;
  border-radius: 30px;
  &__name {
    text-align: center;
    padding-bottom: 7px;
    font-size: 20px;
    margin: 20px 13px 15px 12px;
  }
  &__img {
    width: 300px;
  }
  &__links {
    &-icon {
      padding-left: 5px;
    }
  }
}

.btn {
  width: 100px;
  height: 25px;
  margin: 20px;
  background-color: rgba(255, 228, 196, 0.514);
  color: #fff;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    background: #f9e79f;
    color: #d7bde2;
  }
}
