@import "../core/reset.scss";
@import "../core/reset.scss";
.proyects__listProyects {
  gap: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: 60px auto 90px auto;
  animation-duration: 3s;
  animation-name: slidein;

  @keyframes slidein {
    from {
      margin-top: 100%;
    }

    to {
      margin-top: 0%;
    }
  }
  &__listProyects1 {
    transition: transform 0.5s;
    &:not(img):hover {
      transform: scale(1.1);
    }
  }
}
@media (max-width: 768px) {
  .proyects__listProyects {
    margin: 90px 0px;
  }
}
@media (max-width: 320px) {
  .proyects__listProyects {
    margin-top: 80px;
  }
}
