@import "../core/reset.scss";
.proyects__listProyects {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1fr;
  // justify-items: center;
  gap: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: 60px auto 90px auto;
}
@media (max-width: 768px) {
  .proyects__listProyects {
    margin: 90px 0px;
  }
}
@media (max-width: 320px) {
  .proyects__listProyects {
    margin-top: 80px;
    // display: grid;
    // grid-template-columns: 1fr;
  }
}
