@import "../core/reset.scss";
.proyect__container {
  background-color: rgba(193, 127, 255, 0.603);
  padding-top: 8px;
  border-radius: 30px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  // transition: 0.6s ease;
  transition: transform 0.5s;
  :hover {
    transform: scale(1.1);
    // scale: 0.85;
  }

  &__name {
    text-align: center;
    padding-bottom: 7px;
    font-size: 20px;
    margin: 20px 13px 15px 12px;
  }
  &__img {
    max-width: 300px;
    min-height: 166px;
    object-fit: cover;
  }
  &__links {
    &-icon {
      padding-left: 5px;
    }
  }
}

.btn {
  width: 100px;
  height: 25px;
  margin: 20px;
  background-color: rgba(255, 228, 196, 0.514);
  color: #fff;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    background: #f9e79f;
    color: #d7bde2;
  }
}
