@import "../core/reset.scss";
.proyects__listProyects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  gap: 40px;
  margin-top: 60px;
}
@media (max-width: 768px) {
  .proyects__listProyects {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (max-width: 320px) {
  .proyects__listProyects {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr;
  }
}
