$color-dark-purple: #551a8b;
$Light-Pink: rgba(255, 228, 196, 0.514);
$Pink: rgba(255, 127, 127, 0.603);
$Green: rgba(153, 255, 127, 0.603);
$yellow: #f9e79f;
$Light-purple: #d7bde2;
$purple-background: rgba(193, 127, 255, 0.603);
