$color-dark-purple: #551a8b;
// --Pink: rgba(255, 127, 127, 0.603);
// --Light-Pink: rgba(255, 228, 196, 0.514);
// --Green: rgba(153, 255, 127, 0.603);
:root {
  --Pink: rgba(255, 127, 127, 0.603);
  --Light-Pink: rgba(255, 228, 196, 0.514);
  --Green: rgba(153, 255, 127, 0.603);
}
