@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Urbanist:wght@200;300;400;500;600;700&display=swap");

:root {
  background-color: #d7bde2;
}
.image {
  margin-top: 90px;
  height: 120px;
}
